<div>
    <p>Información obtenida desde <a href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019/advice-for-public/q-a-coronaviruses" target="_blank">Sitio de la OMS</a></p>
    <p><span style="background-color:transparent;font-size:25px;font-weight:700;text-align:inherit;white-space:inherit;word-spacing:normal;caret-color:auto;">&iquest;Qu&eacute; es un coronavirus?</span></p>
    <p>Los coronavirus son una extensa familia de virus que pueden causar enfermedades tanto en animales como en humanos. En los humanos, se sabe que varios coronavirus causan infecciones respiratorias que pueden ir desde el resfriado com&uacute;n hasta
        enfermedades m&aacute;s graves como el s&iacute;ndrome respiratorio de Oriente Medio (MERS) y el s&iacute;ndrome respiratorio agudo severo (SRAS). El coronavirus que se ha descubierto m&aacute;s recientemente causa la enfermedad por coronavirus
        COVID-19.
    </p>
    <h2>&iquest;Qu&eacute; es la COVID‑19?</h2>
    <p>La COVID‑19 es la enfermedad infecciosa causada por el coronavirus que se ha descubierto m&aacute;s recientemente. Tanto este nuevo virus como la enfermedad que provoca eran desconocidos antes de que estallara el brote en Wuhan (China) en diciembre
        de 2019. Actualmente la COVID‑19 es una pandemia que afecta a muchos pa&iacute;ses de todo el mundo.</p>
    <h2>&iquest;Cu&aacute;les son los s&iacute;ntomas de la COVID-19?</h2>
    <p>Los s&iacute;ntomas m&aacute;s habituales de la COVID-19 son la fiebre, la tos seca y el cansancio. Otros s&iacute;ntomas menos frecuentes que afectan a algunos pacientes son los dolores y molestias, la congesti&oacute;n nasal, el dolor de cabeza,
        la conjuntivitis, el dolor de garganta, la diarrea, la p&eacute;rdida del gusto o el olfato y las erupciones cut&aacute;neas o cambios de color en los dedos de las manos o los pies. Estos s&iacute;ntomas suelen ser leves y comienzan gradualmente.
        Algunas de las personas infectadas solo presentan s&iacute;ntomas lev&iacute;simos.</p>
    <p>La mayor&iacute;a de las personas (alrededor del 80%) se recuperan de la enfermedad sin necesidad de tratamiento hospitalario. Alrededor de 1 de cada 5 personas que contraen la COVID‑19 acaba presentando un cuadro grave y experimenta dificultades
        para respirar. Las personas mayores y las que padecen afecciones m&eacute;dicas previas como hipertensi&oacute;n arterial, problemas cardiacos o pulmonares, diabetes o c&aacute;ncer tienen m&aacute;s probabilidades de presentar cuadros graves.
        Sin embargo, cualquier persona puede contraer la COVID‑19 y caer gravemente enferma. Las personas de cualquier edad que tengan fiebre o tos y adem&aacute;s respiren con dificultad, sientan dolor u opresi&oacute;n en el pecho o tengan dificultades
        para hablar o moverse deben solicitar atenci&oacute;n m&eacute;dica inmediatamente. Si es posible, se recomienda llamar primero al profesional sanitario o centro m&eacute;dico para que estos remitan al paciente al establecimiento sanitario adecuado.</p>
    <h2>&iquest;Qu&eacute; debo hacer si tengo s&iacute;ntomas de COVID-19 y cu&aacute;ndo he de buscar atenci&oacute;n m&eacute;dica?</h2>
    <p>Si tiene s&iacute;ntomas leves, como tos o fiebre leves, generalmente no es necesario que busque atenci&oacute;n m&eacute;dica. Qu&eacute;dese en casa, a&iacute;slese y vigile sus s&iacute;ntomas. Siga las orientaciones nacionales sobre el autoaislamiento.
        Sin embargo, si vive en una zona con paludismo (malaria) o dengue, es importante que no ignore la fiebre. Busque ayuda m&eacute;dica. Cuando acuda al centro de salud lleve mascarilla si es posible, mant&eacute;ngase al menos a un&nbsp;metro de
        distancia de las&nbsp;dem&aacute;s personas y no toque las superficies con las manos. En caso de que el enfermo sea un ni&ntilde;o, ay&uacute;delo a seguir este consejo.</p>
    <p>Busque inmediatamente atenci&oacute;n m&eacute;dica si tiene dificultad para respirar o siente dolor o presi&oacute;n en el pecho. Si es posible, llame a su dispensador de atenci&oacute;n de la salud con antelaci&oacute;n para que pueda dirigirlo
        hacia el centro de salud adecuado.</p>
    <h2>&iquest;C&oacute;mo se propaga la COVID‑19?</h2>
    <p>Una persona puede contraer la COVID‑19 por contacto con otra que est&eacute; infectada por el virus. La enfermedad se propaga principalmente de persona a persona a trav&eacute;s de las got&iacute;culas que salen despedidas de la nariz o la boca de
        una persona infectada al toser, estornudar o hablar. Estas got&iacute;culas son relativamente pesadas, no llegan muy lejos y caen r&aacute;pidamente al suelo. Una persona puede contraer la COVID‑19 si inhala las got&iacute;culas procedentes de
        una persona infectada por el virus. Por eso es importante mantenerse al menos a un&nbsp;metro de distancia de los dem&aacute;s. Estas got&iacute;culas pueden caer sobre los objetos y superficies que rodean a la persona, como mesas, pomos y barandillas,
        de modo que otras personas pueden infectarse si tocan esos objetos o superficies y luego se tocan los ojos, la nariz o la boca. Por ello es importante lavarse las manos frecuentemente con agua y jab&oacute;n o con un desinfectante a base de alcohol.&nbsp;</p>
    <p>La OMS est&aacute; estudiando las investigaciones en curso sobre las formas de propagaci&oacute;n de la COVID‑19 y seguir&aacute; informando sobre las conclusiones que se vayan obteniendo.</p>
    <h2>&iquest;Es posible contagiarse de COVID‑19 por contacto con una persona que no presente ning&uacute;n s&iacute;ntoma?</h2>
    <p>La principal forma de propagaci&oacute;n de la COVID‑19 es a trav&eacute;s de las got&iacute;culas respiratorias expelidas por alguien que tose o que tiene otros s&iacute;ntomas como fiebre o cansancio. Muchas personas con COVID‑19 presentan solo
        s&iacute;ntomas leves. Esto es particularmente cierto en las primeras etapas de la enfermedad. Es posible contagiarse de alguien que solamente tenga una tos leve y no se sienta enfermo.&nbsp;</p>
    <p>Seg&uacute;n algunas informaciones, las personas sin s&iacute;ntomas pueden transmitir el virus. A&uacute;n no se sabe con qu&eacute; frecuencia ocurre. La OMS est&aacute; estudiando las investigaciones en curso sobre esta cuesti&oacute;n y seguir&aacute;
        informando sobre las conclusiones que se vayan obteniendo.</p>
    <h2>&iquest;C&oacute;mo podemos protegernos a nosotros mismos y a los dem&aacute;s si no sabemos qui&eacute;n est&aacute; infectado?</h2>
    <p>Practicar la higiene respiratoria y de las manos es importante en TODO momento y la mejor forma de protegerse a s&iacute; mismo y a los dem&aacute;s.&nbsp;</p>
    <p>Cuando sea posible, mantenga al menos un&nbsp;metro de distancia entre usted y los dem&aacute;s. Esto es especialmente importante si est&aacute; al lado de alguien que est&eacute; tosiendo o estornudando. Dado que es posible que algunas personas infectadas
        a&uacute;n no presenten s&iacute;ntomas o que sus s&iacute;ntomas sean leves, conviene que mantenga una distancia f&iacute;sica con todas las personas si se encuentra en una zona donde circule el virus de la COVID‑19.</p>
    <h2>&iquest;Qu&eacute; debo hacer si he estado en contacto estrecho con alguien que tiene COVID‑19?</h2>
    <p>Si ha estado en contacto estrecho con alguien con COVID‑19, puede estar infectado.&nbsp;</p>
    <p>Contacto estrecho significa vivir con alguien que tiene la enfermedad o haber estado a menos de un&nbsp;metro de distancia de alguien que tiene la enfermedad. En estos casos, es mejor quedarse en casa.</p>
    <p>Sin embargo, si usted vive en una zona con paludismo (malaria) o dengue, es importante que no ignore la fiebre. Busque ayuda m&eacute;dica. Cuando acuda al centro de salud lleve mascarilla si es posible, mant&eacute;ngase al menos a un&nbsp;metro
        de distancia de las dem&aacute;s personas y no toque las superficies con las manos. En caso de que el enfermo sea un ni&ntilde;o, ay&uacute;delo a seguir este consejo.&nbsp;</p>
    <p><span style="text-decoration:underline;">Si <strong>no</strong> vive en una zona con paludismo (malaria) o dengue, por favor haga lo siguiente:</span></p>
    <ul>
        <li>Si enferma, incluso con s&iacute;ntomas muy leves como fiebre y dolores leves, debe aislarse en su casa.&nbsp;</li>
        <li>Incluso si no cree haber estado expuesto a la COVID‑19 pero desarrolla estos s&iacute;ntomas, a&iacute;slese y controle su estado.&nbsp;</li>
        <li>Es m&aacute;s probable que infecte a otros en las primeras etapas de la enfermedad cuando solo tiene s&iacute;ntomas leves, por lo que el aislamiento temprano es muy importante.</li>
        <li>Si no tiene s&iacute;ntomas pero ha estado expuesto a una persona infectada, p&oacute;ngase en cuarentena durante 14&nbsp;d&iacute;as.</li>
    </ul>
    <p>Si ha tenido indudablemente COVID‑19 (confirmada mediante una prueba), a&iacute;slese durante 14&nbsp;d&iacute;as incluso despu&eacute;s de que los s&iacute;ntomas hayan desaparecido como medida de precauci&oacute;n. Todav&iacute;a no se sabe exactamente
        cu&aacute;nto tiempo las personas siguen siendo contagiosas despu&eacute;s de recuperarse. Siga los consejos de las autoridades nacionales sobre el aislamiento.</p>
    <h2>&iquest;Qu&eacute; significa aislarse?</h2>
    <p>El aislamiento es una medida importante que adoptan las <span style="text-decoration:underline;">personas con s&iacute;ntomas</span> de COVID‑19 para evitar infectar a otras personas de la comunidad, incluidos sus familiares.</p>
    <p>El aislamiento se produce cuando una persona que tiene fiebre, tos u otros s&iacute;ntomas de COVID‑19 se queda en casa y no va al trabajo, a la escuela o a lugares p&uacute;blicos. Lo puede hacer voluntariamente o por recomendaci&oacute;n de su dispensador
        de atenci&oacute;n de salud. Sin embargo, si vive en una zona con paludismo (malaria) o dengue, es importante que no ignore la fiebre. Busque ayuda m&eacute;dica. Cuando acuda al centro de salud use una mascarilla si es posible, mant&eacute;ngase
        al menos a un&nbsp;metro de distancia de las dem&aacute;s personas y no toque las superficies con las manos. En caso de que el enfermo sea un ni&ntilde;o, ay&uacute;delo a seguir este consejo.</p>
    <p><span style="text-decoration:underline;">Si <strong>no</strong> vive en una zona con paludismo (malaria) o dengue, por favor haga lo siguiente:</span></p>
    <p>Si una persona se encuentra en aislamiento, es porque est&aacute; enferma pero no gravemente enferma (en cuyo caso requerir&iacute;a atenci&oacute;n m&eacute;dica)</p>
    <ul>
        <li>Ocupe una habitaci&oacute;n individual amplia y bien ventilada con retrete y lavabo.</li>
        <li>Si esto no es posible, coloque las camas al menos a un&nbsp;metro de distancia.&nbsp;</li>
        <li>Mant&eacute;ngase al menos a un&nbsp;metro de distancia de los dem&aacute;s, incluso de los miembros de su familia.</li>
        <li>Controle sus s&iacute;ntomas diariamente.</li>
        <li>A&iacute;slese durante 14&nbsp;d&iacute;as, incluso si se siente bien.</li>
        <li>Si tiene dificultades para respirar, p&oacute;ngase en contacto inmediatamente con su dispensador&nbsp;de atenci&oacute;n de salud. Llame por tel&eacute;fono primero si es posible.</li>
        <li>Permanezca positivo y con energ&iacute;a manteniendo el contacto con sus seres queridos por tel&eacute;fono o internet y haciendo ejercicio en casa.</li>
    </ul>
    <h2>&iquest;Qu&eacute; debo hacer si no tengo s&iacute;ntomas pero creo que he estado expuesto a la COVID‑19? &iquest;qu&eacute; significa ponerse en cuarentena?</h2>
    <p>Ponerse en cuarentena significa separarse de los dem&aacute;s porque ha estado expuesto a alguien con COVID‑19 aunque usted mismo <span style="text-decoration:underline;">no tenga s&iacute;ntomas</span>. Durante la cuarentena, debe vigilar su estado
        para detectar s&iacute;ntomas. El objetivo de la cuarentena es prevenir la transmisi&oacute;n. Dado que las personas que enferman de COVID‑19 pueden infectar a otros inmediatamente, la cuarentena puede evitar que se produzcan algunas infecciones.</p>
    <p>En este caso:</p>
    <ul>
        <li>Ocupe una habitaci&oacute;n individual amplia y bien ventilada con retrete y lavabo.</li>
        <li>Si esto no es posible, coloque las camas al menos a un&nbsp;metro de distancia.&nbsp;</li>
        <li>Mant&eacute;ngase al menos a un&nbsp;metro de distancia de los dem&aacute;s, incluso de los miembros de su familia.</li>
        <li>Controle sus s&iacute;ntomas diariamente.</li>
        <li>Permanezca en cuarentena durante 14&nbsp;d&iacute;as, incluso si se siente bien.</li>
        <li>Si tiene dificultades para respirar, p&oacute;ngase en contacto inmediatamente con su dispensador de atenci&oacute;n de salud. Llame por tel&eacute;fono primero si es posible.</li>
        <li>Permanezca positivo y con energ&iacute;a manteniendo el contacto con sus seres queridos por tel&eacute;fono o internet y haciendo ejercicio en casa.</li>
    </ul>
    <p>Sin embargo, si vive en una zona con paludismo (malaria) o dengue, es importante que no ignore la fiebre. Busque ayuda m&eacute;dica. Cuando acuda al centro de salud use una mascarilla si es posible, mant&eacute;ngase al menos a un&nbsp;metro de distancia
        de las dem&aacute;s personas y no toque las superficies con las manos. En caso de que el enfermo sea un ni&ntilde;o, ay&uacute;delo a seguir este consejo.&nbsp;</p>
    <h2>&iquest;Cu&aacute;l es la diferencia entre aislamiento, cuarentena y distanciamiento?</h2>
    <p>La cuarentena significa restringir las actividades o separar a las <span style="text-decoration:underline;">personas que no est&aacute;n enfermas</span> pero que pueden haber estado expuestas a la COVID‑19. El objetivo es prevenir la propagaci&oacute;n
        de la enfermedad en el momento en que las personas empiezan a presentar s&iacute;ntomas.</p>
    <p>El aislamiento significa separar a las <span style="text-decoration:underline;">personas que est&aacute;n enfermas</span> con s&iacute;ntomas de COVID‑19 y pueden ser contagiosas para prevenir la propagaci&oacute;n de la enfermedad.</p>
    <p>El distanciamiento f&iacute;sico significa estar f&iacute;sicamente separado. La OMS recomienda mantener una distancia de al menos un&nbsp;metro con los dem&aacute;s. Es una medida general que <span style="text-decoration:underline;">todas las personas</span>        deber&iacute;an adoptar incluso si se encuentran bien y no han tenido una exposici&oacute;n conocida a la COVID‑19.</p>
    <h2>&iquest;Pueden los ni&ntilde;os o los adolescentes contraer la COVID‑19?</h2>
    <p>Las investigaciones indican que los ni&ntilde;os y los adolescentes tienen las mismas probabilidades de infectarse que cualquier otro grupo de edad y pueden propagar la enfermedad.&nbsp;</p>
    <p>Las pruebas hasta la fecha sugieren que los ni&ntilde;os y los adultos j&oacute;venes tienen menos probabilidades de desarrollar una enfermedad grave, pero con todo se pueden dar casos graves en estos grupos de edad.&nbsp;</p>
    <p>Los ni&ntilde;os y los adultos deben seguir las mismas pautas de cuarentena y aislamiento si existe el riesgo de que hayan estado expuestos o si presentan s&iacute;ntomas. Es particularmente importante que los ni&ntilde;os eviten el contacto con personas
        mayores y con otras personas que corran el riesgo de contraer una enfermedad m&aacute;s grave.</p>
    <h2>&iquest;Qu&eacute; puedo hacer para protegerme y prevenir la propagaci&oacute;n de la enfermedad?</h2>
    <p>Mant&eacute;ngase al d&iacute;a de la informaci&oacute;n m&aacute;s reciente sobre el brote de COVID‑19, a la que puede acceder en el sitio web de la OMS y a trav&eacute;s de las autoridades de salud p&uacute;blica a nivel nacional y local. Se han
        registrado casos en la mayor&iacute;a de los pa&iacute;ses del mundo, y en muchos de ellos se han producido brotes. Las autoridades de algunos pa&iacute;ses han conseguido ralentizar el avance de los brotes, pero la situaci&oacute;n es impredecible
        y es necesario comprobar con regularidad las noticias m&aacute;s recientes.</p>
    <p>Hay varias precauciones que se pueden adoptar para reducir la probabilidad de contraer o propagar la COVID‑19:</p>
    <ul>
        <li>L&aacute;vese las manos a fondo y con frecuencia usando un desinfectante a base de alcohol o con agua y jab&oacute;n.</li>
    </ul>
    <p><strong>&iquest;Por qu&eacute;?</strong><strong>&nbsp;</strong>Lavarse las manos con agua y jab&oacute;n o con un desinfectante a base de alcohol mata los virus que pueda haber en sus manos.</p>
    <ul>
        <li>Mantenga una distancia m&iacute;nima de un&nbsp;metro entre usted y los dem&aacute;s.</li>
    </ul>
    <p><strong>&iquest;Por qu&eacute;?</strong>&nbsp;Cuando alguien tose, estornuda o habla despide por la nariz o la boca unas got&iacute;culas de l&iacute;quido que pueden contener el virus. Si la persona que tose, estornuda o habla tiene la enfermedad
        y usted est&aacute; demasiado cerca de ella, puede respirar las got&iacute;culas y con ellas el virus de la COVID‑19.</p>
    <ul>
        <li>Evite ir a lugares concurridos</li>
    </ul>
    <p><strong>&iquest;Por qu&eacute;?</strong> Cuando hay aglomeraciones, hay m&aacute;s probabilidades de que entre en contacto estrecho con alguien que tenga COVID‑19 y es m&aacute;s dif&iacute;cil mantener una distancia f&iacute;sica de un&nbsp;metro.</p>
    <ul>
        <li>Evite tocarse los ojos, la nariz y la boca</li>
    </ul>
    <p><strong>&iquest;Por qu&eacute;?</strong>&nbsp;Las manos tocan muchas superficies y pueden recoger virus. Una vez contaminadas, las manos pueden transferir el virus a los ojos, la nariz o la boca. Desde all&iacute;, el virus puede entrar en su cuerpo
        y causarle la enfermedad.</p>
    <ul>
        <li>Tanto usted como las personas que lo rodean deben asegurarse de mantener una buena higiene respiratoria. Eso significa cubrirse la boca y la nariz con el codo flexionado o con un pa&ntilde;uelo al toser o estornudar. Deseche de inmediato el pa&ntilde;uelo
            usado y l&aacute;vese las manos.</li>
    </ul>
    <p><strong>&iquest;Por qu&eacute;?</strong><strong> </strong>Los virus se propagan a trav&eacute;s de las got&iacute;culas. Al mantener una buena higiene respiratoria protege a las personas que lo rodean de virus como los del resfriado, la gripe y la
        COVID‑19.
    </p>
    <ul>
        <li>Permanezca en casa y a&iacute;slese incluso si presenta s&iacute;ntomas leves como tos, dolor de cabeza y fiebre ligera hasta que se recupere. Pida a alguien que le traiga las provisiones. Si&nbsp;tiene que salir de casa, p&oacute;ngase una mascarilla
            para no infectar a otras personas.</li>
    </ul>
    <p><strong>&iquest;Por qu&eacute;?</strong>&nbsp;Evitar el contacto con otras personas las proteger&aacute; de posibles infecciones por el virus de la COVID‑19 u otros.</p>
    <ul>
        <li>Si tiene fiebre, tos y dificultad para respirar, busque atenci&oacute;n m&eacute;dica, pero en la medida de lo posible llame por tel&eacute;fono con antelaci&oacute;n y siga las indicaciones de la autoridad sanitaria local.</li>
    </ul>
    <p><strong>&iquest;Por qu&eacute;?</strong><strong>&nbsp;</strong>Las autoridades nacionales y locales dispondr&aacute;n de la informaci&oacute;n m&aacute;s actualizada sobre la situaci&oacute;n en su zona. Llamar con antelaci&oacute;n permitir&aacute;
        que su dispensador de atenci&oacute;n de salud le dirija r&aacute;pidamente hacia el centro de salud adecuado. Esto tambi&eacute;n lo proteger&aacute; a usted y ayudar&aacute; a prevenir la propagaci&oacute;n de virus y otras infecciones.</p>
    <ul>
        <li>Mant&eacute;ngase informado sobre las &uacute;ltimas novedades a partir de fuentes fiables, como la&nbsp;OMS o las autoridades sanitarias locales y nacionales.&nbsp;</li>
    </ul>
    <p><strong>&iquest;Por qu&eacute;?</strong> Las autoridades locales y nacionales son los interlocutores m&aacute;s indicados para dar consejos sobre lo que deben hacer las personas de su zona para protegerse.</p>
    <h2>&iquest;Existe alguna vacuna, medicamento o tratamiento contra la COVID‑19?</h2>
    <p>Aunque algunas soluciones de la medicina occidental o tradicional o remedios caseros pueden resultar reconfortantes y aliviar los s&iacute;ntomas leves de la COVID-19, hasta ahora ning&uacute;n medicamento ha demostrado prevenir o curar esta enfermedad.
        La OMS no recomienda automedicarse con ning&uacute;n f&aacute;rmaco, incluidos los antibi&oacute;ticos, para prevenir o curar la COVID-19. Sin embargo, hay varios ensayos cl&iacute;nicos en marcha, tanto de medicamentos occidentales como tradicionales.
        La OMS est&aacute; coordinando la labor de desarrollo de vacunas y medicamentos para prevenir y tratar la COVID-19 y seguir&aacute; proporcionando informaci&oacute;n actualizada a medida que se disponga de los resultados de las investigaciones.</p>
    <p>Las formas m&aacute;s eficaces de protegerse a uno mismo y a los dem&aacute;s frente a la COVID‑19 son:&nbsp;</p>
    <ul>
        <li>Lavarse las manos a fondo y con frecuencia.&nbsp;</li>
        <li>Evitar tocarse los ojos, la boca y la nariz.</li>
        <li>Cubrirse la boca con el codo flexionado o con un pa&ntilde;uelo. Si se utiliza un pa&ntilde;uelo, hay que desecharlo inmediatamente despu&eacute;s de su uso y lavarse las manos.</li>
        <li>Mantener una distancia de al menos un&nbsp;metro con las dem&aacute;s personas.</li>
    </ul>
    <h2>&iquest;Recomienda la OMS el uso de mascarillas m&eacute;dicas para prevenir la propagaci&oacute;n de la COVID‑19?</h2>
    <p>Actualmente no hay suficientes pruebas a favor o en contra del uso de mascarillas (m&eacute;dicas o de otro tipo) por personas sanas de la comunidad en general. Sin embargo, la&nbsp;OMS est&aacute; estudiando activamente los datos cient&iacute;ficos
        acerca del uso de mascarillas, los cuales evolucionan r&aacute;pidamente, y actualiza continuamente sus orientaciones al respecto.</p>
    <p>El uso de<strong> mascarillas m&eacute;dicas </strong>est&aacute; recomendado principalmente en entornos sanitarios, pero puede considerarse en otras circunstancias (v&eacute;ase m&aacute;s adelante). Las&nbsp;mascarillas m&eacute;dicas deben combinarse
        con otras medidas clave de prevenci&oacute;n y control de las infecciones, como la higiene de las manos y el distanciamiento f&iacute;sico.</p>
    <p><span style="text-decoration:underline;">Trabajadores sanitarios</span></p>
    <p><strong>&iquest;Por qu&eacute;?</strong> Las mascarillas m&eacute;dicas y respiradores del tipo N95, FFP2 o equivalentes se recomiendan y deben reservarse para los trabajadores sanitarios que est&aacute;n atendiendo a pacientes. El contacto cercano
        con personas con infecci&oacute;n probable o confirmada por el virus de la COVID‑19 y su entorno es la principal v&iacute;a de transmisi&oacute;n, lo que significa que los trabajadores sanitarios son los m&aacute;s expuestos.</p>
    <p><span style="text-decoration:underline;">Las personas enfermas y que presentan s&iacute;ntomas de COVID‑19</span></p>
    <p><strong>&iquest;Por qu&eacute;? </strong>Cualquier persona que est&eacute; enferma y presente s&iacute;ntomas leves, como dolores musculares, tos leve, dolor de garganta o cansancio, debe aislarse en su casa y usar una mascarilla m&eacute;dica de
        conformidad con la recomendaci&oacute;n de la OMS sobre el cuidado en el hogar de los pacientes con posible infecci&oacute;n por el virus de la COVID‑19. Al toser, estornudar o hablar se pueden generar got&iacute;culas que causan la propagaci&oacute;n
        de la infecci&oacute;n. Estas got&iacute;culas pueden llegar a la cara de otras personas cercanas y caer en el entorno circundante. El hecho de que una persona infectada que tose, estornuda o habla lleve una mascarilla m&eacute;dica puede ayudar
        a proteger de la infecci&oacute;n a quienes est&aacute;n cerca.</p>
    <p>Si una persona enferma necesita ir a un centro de salud, debe llevar una m&aacute;scara m&eacute;dica.</p>
    <p><span style="text-decoration:underline;">Toda persona que cuide en casa a un enfermo de COVID‑19</span></p>
    <p><strong>&iquest;Por qu&eacute;? </strong>Quienes cuidan de enfermos de COVID‑19 deben usar una mascarilla m&eacute;dica para protegerse. Una vez m&aacute;s, el contacto cercano, frecuente y&nbsp;prolongado con alguien con COVID‑19 pone a los cuidadores
        en una situaci&oacute;n de alto riesgo.</p>
    <p>Los responsables de la toma de decisiones a nivel nacional tambi&eacute;n pueden optar por recomendar el uso de mascarillas m&eacute;dicas por ciertas personas adoptando un enfoque basado en los riesgos. Este enfoque toma en consideraci&oacute;n el
        prop&oacute;sito de la mascarilla, el riesgo de exposici&oacute;n y la vulnerabilidad del portador de la mascarilla, el entorno, la viabilidad de su uso y los tipos de mascarillas.</p>
    <h2>C&oacute;mo utilizar adecuadamente una mascarilla m&eacute;dica</h2>
    <p>Si opta por llevar una mascarilla, tenga en cuenta lo siguiente:</p>
    <ol>
        <li>Antes de tocar la mascarilla, l&aacute;vese las manos con un desinfectante a base de alcohol o con agua y jab&oacute;n</li>
        <li>Inspeccione la mascarilla para ver si tiene rasgaduras o agujeros</li>
        <li>Oriente hacia arriba la parte superior (donde se encuentra la tira de metal)</li>
        <li>Aseg&uacute;rese de orientar hacia afuera el lado correcto de la mascarilla (el lado con color)</li>
        <li>Col&oacute;quese la mascarilla sobre la cara. Pellizque la tira de metal o el borde r&iacute;gido de la mascarilla para que se amolde a la forma de su nariz</li>
        <li>Tire hacia abajo de la parte inferior de la mascarilla para que le cubra la boca y la barbilla</li>
        <li>No toque la mascarilla mientras la lleve a efectos de protecci&oacute;n</li>
        <li>Despu&eacute;s de usar la mascarilla, qu&iacute;tesela con las manos limpias; retire las cintas el&aacute;sticas de detr&aacute;s de las orejas manteniendo la mascarilla alejada de la cara y la ropa, para&nbsp;no tocar las superficies potencialmente
            contaminadas de la mascarilla.</li>
        <li>Deseche la mascarilla en un contenedor cerrado inmediatamente despu&eacute;s de su uso. No reutilice la mascarilla.</li>
        <li>Practique la higiene de las manos despu&eacute;s de tocar o desechar la mascarilla. Use un desinfectante a base de alcohol o, si est&aacute;n visiblemente sucias, l&aacute;veselas con agua y jab&oacute;n.</li>
    </ol>
    <p>Tenga en cuenta que hay una escasez mundial de mascarillas m&eacute;dicas (tanto de mascarillas quir&uacute;rgicas como de mascarillas N95), por lo que estas deber&iacute;an reservarse en la medida de lo posible para los trabajadores sanitarios.&nbsp;</p>
    <p>Recuerde que las mascarillas no sustituyen otras formas m&aacute;s eficaces de protegerse a s&iacute; mismo y a los dem&aacute;s contra la COVID‑19, como lavarse las manos con frecuencia, cubrirse la boca con el codo flexionado o con un pa&ntilde;uelo
        y mantener una distancia de al menos un&nbsp;metro con los dem&aacute;s. Consulte las medidas de protecci&oacute;n b&aacute;sicas contra el nuevo coronavirus para obtener m&aacute;s informaci&oacute;n.</p>
    <p>Siga los consejos de la autoridad sanitaria nacional sobre el uso de mascarillas.</p>
    <h2>&iquest;Cu&aacute;nto tiempo transcurre entre la exposici&oacute;n a la COVID‑19 y el desarrollo de s&iacute;ntomas?</h2>
    <p>El tiempo que transcurre entre la exposici&oacute;n a la COVID‑19 y el momento en que comienzan los s&iacute;ntomas suele ser de alrededor de cinco o seis&nbsp;d&iacute;as, pero puede variar entre 1 y 14&nbsp;d&iacute;as.</p>
    <h2>&iquest;Qu&eacute; relaci&oacute;n hay entre la COVID-19 y los animales?</h2>
    <p>La COVID‑19 se propaga por transmisi&oacute;n entre seres humanos.&nbsp;</p>
    <p>Conocemos bastantes datos sobre otros virus de la familia de los coronavirus, y la mayor&iacute;a de estos tipos de virus tienen su origen en animales. El virus de la COVID‑19 (tambi&eacute;n llamado SARS-CoV-2) es un nuevo virus en los humanos. La
        posible fuente animal de la COVID‑19 a&uacute;n no ha sido confirmada, pero se est&aacute; investigando.</p>
    <p>La OMS sigue monitoreando las &uacute;ltimas investigaciones sobre este y otros temas relacionados con la COVID‑19 y proporcionar&aacute; informaci&oacute;n actualizada a medida que se disponga de nuevos datos.</p>
    <p><span style="background-color:transparent;font-size:25px;font-weight:700;text-align:inherit;white-space:inherit;word-spacing:normal;caret-color:auto;">&iquest;Puede un animal dom&eacute;stico u otro animal contagiarme la COVID-19?</span></p>
    <p>Varios perros y felinos (gatos dom&eacute;sticos y tigres) han dado positivo en las pruebas de detecci&oacute;n de la COVID-19 despu&eacute;s de haber estado en contacto con humanos infectados. Adem&aacute;s, parece ser que los hurones son susceptibles
        a la infecci&oacute;n. En condiciones experimentales, tanto los gatos como los hurones pueden transmitir la infecci&oacute;n a otros animales de la misma especie. Sin embargo, no existen datos probatorios de que estos animales puedan transmitir
        la enfermedad al ser humano y propagar la COVID-19. La COVID-19 se propaga principalmente a trav&eacute;s de las got&iacute;culas que despide una persona infectada al toser, estornudar o hablar.</p>
    <p>Tambi&eacute;n se ha detectado el virus en visones criados en granjas que probablemente hab&iacute;an sido infectados por trabajadores. En algunos casos, los visones infectados por seres humanos han transmitido el virus a otras personas. Son los primeros
        casos notificados de transmisi&oacute;n del animal al ser humano.</p>
    <p>Se sigue recomendando que las personas enfermas de COVID-19 y las personas de riesgo limiten el contacto con animales de compa&ntilde;&iacute;a y otros animales. En el manejo y cuidado de los animales, siempre se deben tomar medidas b&aacute;sicas
        de higiene, a saber: lavarse las manos despu&eacute;s de manipular animales, su comida o sus art&iacute;culos, as&iacute; como evitar besarlos, dejar que nos laman o compartir comida.</p>
    <p>El sitio web de la OIE proporciona m&aacute;s recomendaciones al respecto: <a href="https://www.oie.int/es/nuestra-experiencia-cientifica/informaciones-especificas-y-recomendaciones/preguntas-y-respuestas-del-nuevo-coronavirus-2019/" target="_blank">https://www.oie.int/es/nuestra-experiencia-cientifica/informaciones-especificas-y-recomendaciones/preguntas-y-respuestas-del-nuevo-coronavirus-2019/</a>        </p>
    <p>La OMS seguir&aacute; haciendo un seguimiento de los &uacute;ltimos estudios sobre este tema y otros temas relacionado con la COVID-19 y actualizar&aacute; la informaci&oacute;n a medida que disponga de nuevas conclusiones.</p>
    <p><span style="background-color:transparent;font-size:25px;font-weight:700;text-align:inherit;white-space:inherit;word-spacing:normal;caret-color:auto;">&iquest;Cu&aacute;nto tiempo sobrevive el virus en las superficies?</span><br /></p>
    <p>Lo m&aacute;s importante que hay que saber sobre el contacto del coronavirus con superficies es que estas se pueden limpiar f&aacute;cilmente con desinfectantes dom&eacute;sticos comunes que matar&aacute;n el virus. Diversos estudios han demostrado
        que el virus de la COVID‑19 puede sobrevivir hasta 72&nbsp;horas en superficies de pl&aacute;stico y acero inoxidable, menos de 4&nbsp;horas en superficies de cobre y menos de 24&nbsp;horas en superficies de cart&oacute;n.</p>
    <p>Como siempre, l&aacute;vese las manos con un desinfectante a base de alcohol o con agua y jab&oacute;n. Evite tocarse los ojos, la boca o la nariz.</p>
    <h2>&iquest;C&oacute;mo puedo comprar con seguridad en las tiendas de comestibles?</h2>
    <p>En las tiendas de comestibles, mantenga al menos un&nbsp;metro de distancia con los dem&aacute;s y no se toque los ojos, la nariz o la boca. Si es posible, desinfecte los mangos y barras de los carritos o cestas antes de comprar. Cuando regrese a
        casa, l&aacute;vese las manos a fondo al llegar y tambi&eacute;n despu&eacute;s de coger y almacenar los productos que ha comprado. Actualmente no hay ning&uacute;n caso confirmado de contagio de la COVID‑19 a trav&eacute;s de los alimentos o
        de sus envases.</p>
    <h2>&iquest;C&oacute;mo debo lavar las frutas y las hortalizas?</h2>
    <p>Las frutas y las hortalizas son esenciales para llevar una dieta saludable. L&aacute;velas como lo har&iacute;a en cualquier circunstancia. Antes de tocarlas, l&aacute;vese las manos con agua y jab&oacute;n. Despu&eacute;s, lave las frutas y las hortalizas
        a fondo con agua potable, sobre todo si las come crudas.</p>
    <h2>&iquest;Son eficaces los antibi&oacute;ticos para prevenir o tratar la COVID‑19?</h2>
    <p>No. Los antibi&oacute;ticos no son eficaces contra los virus, solo contra las infecciones bacterianas. La COVID‑19 est&aacute; causada por un virus, de modo que los antibi&oacute;ticos no sirven frente a ella. No se deben usar antibi&oacute;ticos
        como medio de prevenci&oacute;n o tratamiento de la COVID‑19. En los hospitales, los m&eacute;dicos a veces utilizan antibi&oacute;ticos para prevenir o tratar infecciones bacterianas secundarias que pueden ser una complicaci&oacute;n de la COVID‑19
        en pacientes gravemente enfermos. Solo deben usarse para tratar una infecci&oacute;n bacteriana siguiendo las indicaciones de un m&eacute;dico.</p>
    <h2>&iquest;Puedo contagiarme de COVID‑19 por contacto con las heces de una persona que padezca la enfermedad?</h2>
    <p>Aunque las investigaciones iniciales apuntan a que el virus puede estar presente en algunos casos en las heces, hasta la fecha no se ha notificado ning&uacute;n caso de transmisi&oacute;n por v&iacute;a fecal-oral del virus de la COVID‑19. Adem&aacute;s,
        hasta la fecha no hay pruebas de que el virus de la COVID‑19 sobreviva en el agua, incluidas las aguas residuales.</p>
    <p>La OMS est&aacute; estudiando las investigaciones en curso sobre las formas de propagaci&oacute;n de la COVID‑19 y seguir&aacute; informando de las novedades acerca de esta cuesti&oacute;n.&nbsp;</p>
    <p><strong>Enlaces con informaci&oacute;n</strong></p>
    <div>
        <p>Sitio web sobre la COVID-19: <a href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019" target="_blank">https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019</a></p>
        <p>EPI-WIN: Red de Informaci&oacute;n de la OMS sobre Epidemias: <a href="https://www.who.int/epi-win" target="_blank">https://www.who.int/epi-win</a></p>
    </div>
    <div><br /></div>
</div>