<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Acerca del sitio</h3>
                        </div>
                        <div class="card-body">
                            <p>Sitio desarrollado con la finalidad de presentar de una manera simple y clara el status global de la pandemia por Covid-19.</p>
                            <h4>Recursos utilizados:</h4>
                            <ul>
                                <li>
                                    Fuente de Información: <a href="https://covid19api.com/" target="_blank" rel="noopener noreferrer">https://covid19api.com/</a>
                                </li>
                                <li>Template para FrontEnd: <a href="https://adminlte.io/" target="_blank" rel="noopener noreferrer">https://adminlte.io/</a></li>
                                <li>
                                    Iconos a imágenes Covid-19: <a href="https://copymouse.com/coronavirus-free-icons/" target="_blank" rel="noopener noreferrer">https://copymouse.com/coronavirus-free-icons/</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>