<div class="row">
    <div class="col col-md-12">
        <div class="card card-success card-outline">
            <div class="card-header">
                <h3 class="card-title">Links Ministerio de Salud - Chile</h3>
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        <a href="https://www.gob.cl/coronavirus/" target="_blank" rel="noopener noreferrer">Sitio del Minsal sobre Coronavirus</a></li>
                    <li>
                        <a href="https://www.gob.cl/coronavirus/cifrasoficiales" target="_blank" rel="noopener noreferrer">Cifras oficiales</a></li>
                    <li>
                        <a href="https://www.gob.cl/coronavirus/autocuidado/" target="_blank" rel="noopener noreferrer">Autocuidado</a></li>
                    <li>
                        <a href="https://www.minsal.cl/residencias-sanitarias/" target="_blank" rel="noopener noreferrer">Información sobre residencias sanitarias</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>