<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <!-- Left navbar links -->
    <div class="container">
        <a routerLink="main" routerLinkActive="active" class="navbar-brand">
            <img src="../../../assets/png/coronavirus_coronavirus.png" alt="Covid-19 Icono" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Covid-19</span>
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Habilitar navegación">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="main" routerLinkActive="active" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Acerca de...</a>
                </li>
            </ul>
        </div>
    </div>


</nav>