<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h3 class="text-dark text-center"><span [ngClass]="flag"></span> {{ country.Country }}</h3>
                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h4>{{country.NewConfirmed | number}}</h4>
                                    <p>Nuevos Confirmados</p>
                                    <h4>{{country.TotalConfirmed | number}}</h4>
                                    <p>Total Confirmados</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-head-side-mask"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-gradient-danger">
                                <div class="inner">
                                    <h4>{{country.NewDeaths | number}}</h4>
                                    <p>Nuevos Fallecidos</p>
                                    <h4>{{country.TotalDeaths | number}}</h4>
                                    <p>Total Fallecidos</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-cross"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-gradient-success">
                                <div class="inner">
                                    <h4>{{country.NewRecovered | number}}</h4>
                                    <p>Nuevos Recuperados</p>
                                    <h4>{{country.TotalRecovered | number}}</h4>
                                    <p>Total Recuperados</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-heart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-gradient-warning">
                                <div class="inner">
                                    <h4>Últ. actualización de datos:</h4>
                                    <p>{{ dateUpdate | date: 'dd-MM-yyyy, HH:mm' }}</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-info"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-outline card-warning">
                            <div class="card-header">
                                <h5 class="card-title">Información de 7 días</h5>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="chart">
                                            <app-maingraph [data]="dataCountry" *ngIf="!cargando else carga"></app-maingraph>
                                            <ng-template #carga>
                                                Cargando...
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="!cargando">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">
                                                    <i class="fas fa-road"></i> Navegación
                                                </h3>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body text-center">
                                                <a class="btn btn-app" (click)="semanaAnterior()">
                                                    <i class="fas fa-step-backward"></i> Semana anterior
                                                </a>
                                                <a class="btn btn-app" (click)="semanaSiguiente()">
                                                    <i class="fas fa-step-forward"></i> Semana siguiente
                                                </a>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">
                                                    <i class="fas fa-info"></i> Info
                                                </h3>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <dl class="row">
                                                    <dt class="col-sm-4">Población</dt>
                                                    <dd class="col-sm-8 ">{{ infoCountry.datos.poblacion | number}} habitantes</dd>
                                                    <dt class="col-sm-4">Capital</dt>
                                                    <dd class="col-sm-8">{{ infoCountry.datos.capital }}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>