<div class="row">
    <div class="col-sm-4">
        <div class="card card-warning card-outline">
            <div class="card-header">
                <h3 class="card-title">Lavado de Manos</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="position-relative">
                            <img src="../../../assets/svg/coronavirus_hands-wash-3.svg" class="img-lg">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p>Lavarse las manos por unos 20 segundos como mínimo con agua y jabón.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-warning card-outline">
            <div class="card-header">
                <h3 class="card-title">Al estornudar o toser</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="position-relative">
                            <img src="../../../assets/svg/coronavirus_cough-woman2.svg" class="img-lg">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p>Cubra su boca con el antebrazo o hágalo sobre un pañuelo desechable.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-warning card-outline">
            <div class="card-header">
                <h3 class="card-title">Distancia social</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="position-relative">
                            <img src="../../../assets/svg/coronavirus_distance.svg" class="img-lg">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p>Mantener una distancia mínima de 1,5 metros entre y usted y cualquier persona que tosa o estornude.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-warning card-outline">
            <div class="card-header">
                <h3 class="card-title">Evitar tocarse</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="position-relative">
                            <img src="../../../assets/svg/coronavirus_gloves.svg" class="img-lg">
                        </div>
                    </div>
                    <div class=" col-sm-8 ">
                        <p>Evite tocarse los ojos, la nariz y la boca.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-warning card-outline">
            <div class="card-header">
                <h3 class="card-title">No compartir utensillos</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="position-relative">
                            <img src="../../../assets/png/coronavirus_hand-wash.png" class="img-lg">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p>No compartir bombilla, vaso o cubiertos con otras personas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-warning card-outline">
            <div class="card-header">
                <h3 class="card-title">Al saludar</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="position-relative">
                            <img src="../../../assets/svg/coronavirus_applause.svg" class="img-lg">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p>Evitar saludar con la mano o dar besos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>