<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3 class="m-0 text-dark"><i class="fas fa-globe"></i> Status Global</h3>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h4>{{cargando ? '0' : summary.Global.NewConfirmed | number}}</h4>
                                <p>Nuevos Confirmados</p>
                                <h4>{{cargando ? '0' : summary.Global.TotalConfirmed | number}}</h4>
                                <p>Total Confirmados</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-head-side-mask"></i>
                            </div>
                            <div class="overlay" *ngIf="cargando">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-gradient-danger">
                            <div class="inner">
                                <h4>{{cargando ? '0' : summary.Global.NewDeaths | number}}</h4>
                                <p>Nuevos Fallecidos</p>
                                <h4>{{cargando ? '0' : summary.Global.TotalDeaths | number}}</h4>
                                <p>Total Fallecidos</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-cross"></i>
                            </div>
                            <div class="overlay" *ngIf="cargando">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-gradient-success">
                            <div class="inner">
                                <h4>{{cargando ? '0' : summary.Global.NewRecovered | number}}</h4>
                                <p>Nuevos Recuperados</p>
                                <h4>{{cargando ? '0' : summary.Global.TotalRecovered | number}}</h4>
                                <p>Total Recuperados</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-heart"></i>
                            </div>
                            <div class="overlay" *ngIf="cargando">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-gradient-warning">
                            <div class="inner">
                                <h4>Últ. actualización de datos:</h4>
                                <p>{{ cargando ? '' : updateDate | date: 'dd-MM-yyyy, HH:mm' }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-info"></i>
                            </div>
                            <div class="overlay" *ngIf="cargando">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Información por Países</h3>
                            </div>
                            <div class="card-body">
                                <table id="table" datatable [dtOptions]="dtOptions" class="table table-bordered hover" *ngIf="!cargando" style="width: 100%;">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <blockquote class="quote-danger" *ngIf="error">
            <h5>Error</h5>
            <p>Se produjo un error al obtener la información desde el servicio. <button type="button" class="btn btn-primary btn-sm" (click)="getSummary()">Reintentar</button></p>
        </blockquote>
    </div>
</div>